.container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
}
#btn-2 {
    margin-right: 1%;
    margin-left: 1%;
}
#btn-1 {
    margin-right: 1%;
}
